{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.workeee.de/v2"
        }
    ],
    "info": {
        "description": "The fileee API contains methods for accessing documents and other data in a fileee user account. API built on 2019-06-18T22:01:06Z.\n\n- Authorization follows the [OAuth 2.0](https://tools.ietf.org/html/rfc6749) standard, specifically the [Authorization Code Grant](https://tools.ietf.org/html/rfc6749#section-4.1) type.\n  - Most API calls require the access token in the `Authorization` HTTP request header as a string     of the form `Bearer 12345xy` (where 12345xy needs to be replaced with the actual access token).\n  - The _authorization endpoint_ is available at an URL of the form `https://my.workeee.de/oauth/authorize?response_type=code`     with the following additional request parameters: `client_id=` *your unique client ID* (REQUIRED),     `redirect_uri=` *the URI where the client should be redirected after authorization* (REQUIRED),     `scope=` *the space separated list of requested scopes* (OPTIONAL), `state=` *will be passed back to      the redirect endpoint unmodified* (RECOMMENDED).\n- All unique IDs are strings in the format of [BSON ObjectIds](https://docs.mongodb.com/manual/reference/bson-types/#objectid).",
        "version": "2.0.0-SNAPSHOT",
        "title": "fileee API"
    },
    "tags": [
        {
            "name": "PostBox",
            "description": "API methods to send documents to your customers."
        },
        {
            "name": "Authorization",
            "description": "API methods for OAuth 2.0 authorization."
        },
        {
            "name": "Documents",
            "description": "API methods to work with documents."
        },
        {
            "name": "Conversations",
            "description": "API methods to work with conversations."
        },
        {
            "name": "Users",
            "description": "API methods to work with users."
        },
        {
            "name": "ConversationTemplates"
        },
        {
            "name": "Fileeebox"
        },
        {
            "name": "Modules"
        },
        {
            "name": "ThinkOwl"
        },
        {
            "name": "Enterprise"
        },
        {
            "name": "Persons"
        }
    ],
    "paths": {
        "/authorization/create-short-time-token": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "API to create a special short-time login token.",
                "description": "This API can be called with a valid access token to generate a new specialized token (not following any standard OAuth process) that can be used for a short time to login to the same account on a different device.",
                "operationId": "shortTimeToken",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token",
                        "required": true,
                        "example": "Bearer 12345xy...",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        },
                                        "loginUrl": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/authorization/revoke": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "API to revoke and invalidate an OAuth token.",
                "description": "Revoke or invalidate a token that is not needed any longer. Returns an empty response. After calling this method, the token (both access and refresh token, regardless of which one you passed) should not be used any longer.",
                "operationId": "revoke",
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "client_id": {
                                        "description": "The OAuth client ID of your application",
                                        "type": "string"
                                    },
                                    "client_secret": {
                                        "description": "The OAuth client secret of your application",
                                        "type": "string"
                                    },
                                    "token": {
                                        "description": "The token you want to revoke",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "client_id"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/authorization/token": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "API to get and exchange OAuth tokens.",
                "description": "Exchange an authorization code into access and refresh tokens or (depending on the grant type) get a new access token using the refresh token.\n- Depending on what you want to do, exactly one of `code` or `refresh_token` is required.\n- For the `authorization_code` grant type (i.e. exchanging a code into tokens), you need to specify the code in the `code` parameter, for the `refresh_token` grant type (i.e. refreshing an access token) you need to give the refresh token in the `refresh_token`.\n- The `password` grant type is only available for special clients",
                "operationId": "token",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "access_token",
                                        "expires_in",
                                        "refresh_token",
                                        "scope",
                                        "token_type"
                                    ],
                                    "properties": {
                                        "scope": {
                                            "type": "string",
                                            "example": "fileee:full"
                                        },
                                        "access_token": {
                                            "type": "string",
                                            "example": "eyJraWQiOiIxIiwidHlwIjoiSldUIiwiYWxnIjoiSFMyNTYifQ.eyJrZXkiOiI0WUpLZXVBVHQ3RHl4eTNjdWg0eWxTRlNtNTZpNXdFNzFINkhnNWVhdjNvPSIsInN1YiI6IjU0MmJiYzEwZTRiMDVhNTZiMzQ4YzE4OCIsImlhdCI6MTQ2OTA5NTM2NiwiZXhwIjoxNTAwNjMxMzY2LCJ0eXAiOiJBIiwidGlkIjoiNTc5MDlkYmI4MzYzMGYwMDAxZWM4ZWY4Iiwic2NwIjpbImZpbGVlZTpmdWxsIl19.9aFt8sDE_9wQsBu4m1iEJl0DRWwmPmoGt_ka01FLPH8"
                                        },
                                        "refresh_token": {
                                            "type": "string",
                                            "example": "eyJraWQiOiIxIiwidHlwIjoiSldUIiwiYWxnIjoiSFMyNTYifQ.eyJrZXkiOiI0WUpLZXVBVHQ3RHl4eTNjdWg0eWxTRlNtNTZpNXdFNzFINkhnNWVhdjNvPSIsInN1YiI6IjU0MmJiYzEwZTRiMDVhNTZiMzQ4YzE4OCIsImlhdCI6MTQ2OTA5NTM2NiwiZXhwIjoxNTAwNjMxMzY2LCJ0eXAiOiJSIiwidGlkIjoiNTc5MDlkYmI4MzYzMGYwMDAxZWM4ZWY4Iiwic2NwIjpbImZpbGVlZTpmdWxsIl19.RxN_liOsGUWvHAaBo_c0pz7-p71yQxYAgbFoiL4nwjI"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer",
                                            "enum": [
                                                "Bearer"
                                            ]
                                        },
                                        "expires_in": {
                                            "type": "integer",
                                            "format": "int64",
                                            "example": 3600
                                        }
                                    },
                                    "description": "OAuth response containing access token, refresh token and information about the granted scopes and token lifetime."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "When you are missing a parameter or your request is otherwise invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errorCode": {
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "apiError": {
                                            "type": "string"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        },
                                        "localizedMessage": {
                                            "type": "string"
                                        },
                                        "errorPage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "When e.g. your client credentials do not match, the code is invalid or already claimed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errorCode": {
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "apiError": {
                                            "type": "string"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        },
                                        "localizedMessage": {
                                            "type": "string"
                                        },
                                        "errorPage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "grant_type": {
                                        "description": "The OAuth grant type, i.e. which kind of token you have and want",
                                        "type": "string",
                                        "enum": [
                                            "authorization_code",
                                            "refresh_token",
                                            "password"
                                        ],
                                        "default": "authorization_code"
                                    },
                                    "client_id": {
                                        "description": "The OAuth client ID of your application",
                                        "type": "string"
                                    },
                                    "client_secret": {
                                        "description": "The OAuth client secret of your application",
                                        "type": "string"
                                    },
                                    "redirect_uri": {
                                        "description": "A redirect URI of your application (needs to be registered)",
                                        "type": "string"
                                    },
                                    "code": {
                                        "description": "The authorization code you want to exchange.",
                                        "type": "string"
                                    },
                                    "refresh_token": {
                                        "description": "The refresh token for which you want a new access token",
                                        "type": "string"
                                    },
                                    "username": {
                                        "description": "The username when using password-grant-type",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "The password when using password-grant-type",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "grant_type"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/authorization/user-info": {
            "get": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Get own user-information",
                "description": "Can be used to get information (like the participant ID) about the user associated with the supplied token (which needs to be valid).",
                "operationId": "getUserInfo",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token",
                        "required": true,
                        "example": "Bearer 12345xy...",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "participantId": {
                                            "type": "string",
                                            "description": "Participant-id of user for example in conversations"
                                        },
                                        "username": {
                                            "type": "string",
                                            "description": "username (email) of the user"
                                        },
                                        "type": {
                                            "type": "string",
                                            "description": "Type of the user",
                                            "enum": [
                                                "USER",
                                                "COMPANY",
                                                "EXTERNAL",
                                                "POSTBOX",
                                                "OTHER"
                                            ]
                                        },
                                        "participantName": {
                                            "type": "string",
                                            "description": "Display name (name or email) of the user"
                                        }
                                    },
                                    "description": "Attributes of a user in fileee"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "When the access token you provided is invalid."
                    }
                }
            }
        },
        "/conversation-templates": {
            "get": {
                "tags": [
                    "ConversationTemplates"
                ],
                "summary": "Lists all available conversation-templates for a company",
                "description": "",
                "operationId": "getAvailableConversationTemplates",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token",
                        "required": true,
                        "example": "Bearer 12345xy...",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "id"
                                        ],
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "5798835568c0e021ebc6eb3e"
                                            },
                                            "created": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2016-01-28T17:37:11.482+0000",
                                                "readOnly": true
                                            },
                                            "modified": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2016-01-28T17:37:11.482+0000",
                                                "readOnly": true
                                            },
                                            "deleted": {
                                                "type": "boolean",
                                                "example": false,
                                                "default": false
                                            },
                                            "version": {
                                                "type": "integer",
                                                "format": "int64"
                                            },
                                            "localVersion": {
                                                "type": "integer",
                                                "format": "int64"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "conversationSettings": {
                                                "type": "object",
                                                "required": [
                                                    "kind",
                                                    "title"
                                                ],
                                                "properties": {
                                                    "externalId": {
                                                        "type": "string",
                                                        "description": "external Id that can be used to reference the conversation and is returned in events"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "example": "B2C",
                                                        "enum": [
                                                            "HERO",
                                                            "SUPPORT",
                                                            "B2B",
                                                            "B2C",
                                                            "C2C",
                                                            "UNKNOWN"
                                                        ]
                                                    },
                                                    "kind": {
                                                        "type": "string",
                                                        "example": "new_loan_application"
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "My Conversation",
                                                        "minLength": 2,
                                                        "maxLength": 200
                                                    },
                                                    "companyId": {
                                                        "type": "string",
                                                        "example": "5798835568c0e021ebc6eb44",
                                                        "description": "ID of an associated company used for branding, colours etc."
                                                    },
                                                    "ownerId": {
                                                        "type": "string",
                                                        "example": "5798835568c0e021ebc6eb44"
                                                    },
                                                    "messages": {
                                                        "type": "array",
                                                        "description": "List of initial messages for the conversation",
                                                        "items": {
                                                            "type": "object",
                                                            "required": [
                                                                "type"
                                                            ],
                                                            "discriminator": {
                                                                "propertyName": "type"
                                                            },
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string",
                                                                    "example": "5798835568c0e021ebc6eb47"
                                                                },
                                                                "senderId": {
                                                                    "type": "string",
                                                                    "example": "5798835568c0e021ebc6eb48"
                                                                },
                                                                "type": {
                                                                    "type": "string",
                                                                    "example": "CHAT",
                                                                    "enum": [
                                                                        "DOCUMENT",
                                                                        "CHAT",
                                                                        "BONUS",
                                                                        "USER_INFO",
                                                                        "STATUS",
                                                                        "META_INFORMATION",
                                                                        "VOICE",
                                                                        "RATING",
                                                                        "REQUEST_DOCUMENTS",
                                                                        "CONTACT_INFORMATION",
                                                                        "CHANGE_IDENTIFIERS",
                                                                        "REQUEST_ACTION",
                                                                        "ACTION_RESULT",
                                                                        "PARTICIPANT_STATE",
                                                                        "INFO",
                                                                        "PLACEHOLDER",
                                                                        "NOTIFICATION",
                                                                        "UNKNOWN"
                                                                    ]
                                                                },
                                                                "timestamp": {
                                                                    "type": "string",
                                                                    "format": "date-time",
                                                                    "example": "2016-01-28T18:14:55.600+0000"
                                                                },
                                                                "message": {
                                                                    "type": "string",
                                                                    "example": "Hello there"
                                                                },
                                                                "onlyVisibleFor": {
                                                                    "type": "array",
                                                                    "uniqueItems": true,
                                                                    "items": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "participants": {
                                                        "type": "array",
                                                        "description": "List of initial participants for the conversation",
                                                        "items": {
                                                            "type": "object",
                                                            "required": [
                                                                "id",
                                                                "name",
                                                                "type"
                                                            ],
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string",
                                                                    "example": "5798835568c0e021ebc6eb48"
                                                                },
                                                                "name": {
                                                                    "type": "string",
                                                                    "example": "Tobias Meier"
                                                                },
                                                                "type": {
                                                                    "type": "string",
                                                                    "example": "USER",
                                                                    "enum": [
                                                                        "USER",
                                                                        "COMPANY",
                                                                        "EXTERNAL",
                                                                        "CUSTOMER",
                                                                        "OTHER"
                                                                    ]
                                                                },
                                                                "kind": {
                                                                    "type": "string",
                                                                    "example": "customer",
                                                                    "description": "Variable to distinguish between different kinds of participants, defined by company"
                                                                },
                                                                "phoneNumber": {
                                                                    "type": "string",
                                                                    "example": "+491738231242",
                                                                    "description": "Optional telephone number for external participants."
                                                                },
                                                                "joined": {
                                                                    "type": "boolean",
                                                                    "description": "True if the participant has accepted any terms and/or the invitation to join this conversation.",
                                                                    "readOnly": true,
                                                                    "default": false
                                                                },
                                                                "externalId": {
                                                                    "type": "string",
                                                                    "example": "foo.bar@example.com",
                                                                    "description": "The original email address of a participant that was converted from type EXTERNAL to USER",
                                                                    "readOnly": true
                                                                },
                                                                "attributes": {
                                                                    "type": "object",
                                                                    "description": "A map of custom attributes or properties that are associated with this participant.",
                                                                    "additionalProperties": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "hiddenTypesForNewUsers": {
                                                        "type": "array",
                                                        "example": "CHAT",
                                                        "uniqueItems": true,
                                                        "items": {
                                                            "type": "string",
                                                            "enum": [
                                                                "DOCUMENT",
                                                                "CHAT",
                                                                "BONUS",
                                                                "USER_INFO",
                                                                "STATUS",
                                                                "META_INFORMATION",
                                                                "VOICE",
                                                                "RATING",
                                                                "REQUEST_DOCUMENTS",
                                                                "CONTACT_INFORMATION",
                                                                "CHANGE_IDENTIFIERS",
                                                                "REQUEST_ACTION",
                                                                "ACTION_RESULT",
                                                                "PARTICIPANT_STATE",
                                                                "INFO",
                                                                "PLACEHOLDER",
                                                                "NOTIFICATION",
                                                                "UNKNOWN"
                                                            ]
                                                        }
                                                    },
                                                    "presentation": {
                                                        "type": "string",
                                                        "description": "Should the conversation be presented as a conversation (message-centric) or a shared space (document-centric)?",
                                                        "enum": [
                                                            "CONVERSATION",
                                                            "FILEEE_SPACE"
                                                        ]
                                                    },
                                                    "roles": {
                                                        "type": "object",
                                                        "description": "A map from participant ID to the role of that participant.",
                                                        "additionalProperties": {
                                                            "type": "string",
                                                            "description": "The role of a participant in a fileee conversation/space",
                                                            "enum": [
                                                                "VIEWER",
                                                                "EDITOR",
                                                                "ADMIN"
                                                            ]
                                                        }
                                                    },
                                                    "defaultRole": {
                                                        "type": "string",
                                                        "description": "The default role when adding new participants to this conversation.",
                                                        "enum": [
                                                            "VIEWER",
                                                            "EDITOR",
                                                            "ADMIN"
                                                        ]
                                                    },
                                                    "defaultAdditionalPermissions": {
                                                        "type": "array",
                                                        "description": "A set of permissions everyone gets in addition to those from their role.",
                                                        "uniqueItems": true,
                                                        "items": {
                                                            "type": "string",
                                                            "description": "A permission in a fileee conversation/space",
                                                            "enum": [
                                                                "Space.DELETE",
                                                                "Space.LEAVE",
                                                                "Space.UPDATE",
                                                                "Space.CREATE_PUBLIC_LINK",
                                                                "Space.INVITE_USERS",
                                                                "Space.REMOVE_USERS",
                                                                "Space.EDIT_PERMISSIONS",
                                                                "Space.NO_PERMISSION_REQUIRED",
                                                                "Messages.UPDATE_TASK_STATE",
                                                                "Messages.AWARD_BONUS_POINTS",
                                                                "Messages.CHAT",
                                                                "Documents.ADD",
                                                                "Documents.EDIT",
                                                                "Documents.REMOVE_OWN",
                                                                "Documents.REMOVE_OTHER",
                                                                "Documents.COMMENT",
                                                                "Documents.COPY_TO_OWN_ACCOUNT",
                                                                "Documents.SEND_TO_OTHER",
                                                                "Documents.DOWNLOAD"
                                                            ]
                                                        }
                                                    },
                                                    "additionalPermissions": {
                                                        "type": "object",
                                                        "description": "A map from participant ID to a set of permissions that this specific participant gets in addition to those from their role.",
                                                        "additionalProperties": {
                                                            "type": "string",
                                                            "description": "A permission in a fileee conversation/space",
                                                            "enum": [
                                                                "Space.DELETE",
                                                                "Space.LEAVE",
                                                                "Space.UPDATE",
                                                                "Space.CREATE_PUBLIC_LINK",
                                                                "Space.INVITE_USERS",
                                                                "Space.REMOVE_USERS",
                                                                "Space.EDIT_PERMISSIONS",
                                                                "Space.NO_PERMISSION_REQUIRED",
                                                                "Messages.UPDATE_TASK_STATE",
                                                                "Messages.AWARD_BONUS_POINTS",
                                                                "Messages.CHAT",
                                                                "Documents.ADD",
                                                                "Documents.EDIT",
                                                                "Documents.REMOVE_OWN",
                                                                "Documents.REMOVE_OTHER",
                                                                "Documents.COMMENT",
                                                                "Documents.COPY_TO_OWN_ACCOUNT",
                                                                "Documents.SEND_TO_OTHER",
                                                                "Documents.DOWNLOAD"
                                                            ]
                                                        }
                                                    },
                                                    "allowedSecondAuthFactors": {
                                                        "type": "array",
                                                        "description": "A list of all allowed second authentication factors for this conversation.",
                                                        "items": {
                                                            "type": "string",
                                                            "enum": [
                                                                "SMS_TAN",
                                                                "NONE"
                                                            ]
                                                        }
                                                    },
                                                    "invitationIsToS": {
                                                        "type": "boolean",
                                                        "description": "Should the invitation contain Terms of Service to be accepted, should be set to true.",
                                                        "default": false
                                                    },
                                                    "invitationText": {
                                                        "type": "string",
                                                        "description": "Custom invitation text to be displayed. May be used for Terms of Service."
                                                    },
                                                    "forceEmailOnNewParticipant": {
                                                        "type": "boolean",
                                                        "description": "If true, emails will always be send when participants get added to a conversation (without being invited).",
                                                        "default": false
                                                    },
                                                    "invitationLinks": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "role": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "expirationInformation": {
                                                        "description": "Expiration settings for invitations / conversations.",
                                                        "type": "object",
                                                        "required": [
                                                            "validForHours"
                                                        ],
                                                        "properties": {
                                                            "expirationText": {
                                                                "type": "string",
                                                                "description": "Custom text which will be shown to the user, if a invitation in his/her account has expired."
                                                            },
                                                            "validUntilTaskFinished": {
                                                                "type": "string",
                                                                "description": "Identifier of a task. Conversation will be valid until this task is finished."
                                                            },
                                                            "validUntil": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "description": "Date until which the conversation is valid."
                                                            },
                                                            "validForHours": {
                                                                "type": "integer",
                                                                "format": "int32",
                                                                "example": 48,
                                                                "description": "Amount of hours an invitation for a conversation should be valid."
                                                            }
                                                        }
                                                    },
                                                    "notifiers": {
                                                        "type": "array",
                                                        "description": "List of notifiers which can trigger an action at a specific point in time for this conversation.",
                                                        "items": {
                                                            "type": "object",
                                                            "required": [
                                                                "id"
                                                            ],
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string",
                                                                    "example": "5798835568c0e021ebc6eb3e"
                                                                },
                                                                "created": {
                                                                    "type": "string",
                                                                    "format": "date-time",
                                                                    "example": "2016-01-28T17:37:11.482+0000",
                                                                    "readOnly": true
                                                                },
                                                                "modified": {
                                                                    "type": "string",
                                                                    "format": "date-time",
                                                                    "example": "2016-01-28T17:37:11.482+0000",
                                                                    "readOnly": true
                                                                },
                                                                "deleted": {
                                                                    "type": "boolean",
                                                                    "example": false,
                                                                    "default": false
                                                                },
                                                                "version": {
                                                                    "type": "integer",
                                                                    "format": "int64"
                                                                },
                                                                "localVersion": {
                                                                    "type": "integer",
                                                                    "format": "int64"
                                                                },
                                                                "action": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "PUSH_MODULE"
                                                                    ]
                                                                },
                                                                "triggerDate": {
                                                                    "type": "string",
                                                                    "format": "date-time"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "temporaryTaskResults": {
                                                        "description": "Temporary task results, which can be taken to store prefilled or default results of tasks.",
                                                        "allOf": [
                                                            {
                                                                "type": "object",
                                                                "discriminator": {
                                                                    "propertyName": "attributeGroup"
                                                                },
                                                                "properties": {
                                                                    "modified": {
                                                                        "type": "string",
                                                                        "format": "date-time"
                                                                    },
                                                                    "source": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "SYSTEM",
                                                                            "USER"
                                                                        ]
                                                                    },
                                                                    "attributeGroup": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "data": {
                                                                        "type": "object",
                                                                        "readOnly": true,
                                                                        "additionalProperties": {
                                                                            "type": "object",
                                                                            "discriminator": {
                                                                                "propertyName": "attributeGroup"
                                                                            },
                                                                            "properties": {
                                                                                "modified": {
                                                                                    "type": "string",
                                                                                    "format": "date-time"
                                                                                },
                                                                                "source": {
                                                                                    "type": "string",
                                                                                    "enum": [
                                                                                        "SYSTEM",
                                                                                        "USER"
                                                                                    ]
                                                                                },
                                                                                "attributeGroup": {
                                                                                    "type": "string"
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "modified": {
                                                                        "type": "string",
                                                                        "format": "date-time",
                                                                        "readOnly": true
                                                                    }
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "logoId": {
                                                        "type": "string"
                                                    },
                                                    "creatorNotAdmin": {
                                                        "type": "boolean",
                                                        "description": "If true, the creator of the conversation will not be admin in the conversation. Instead the first added user will have the admin role.",
                                                        "default": false
                                                    }
                                                },
                                                "description": "Request to create a new conversation",
                                                "example": {
                                                    "kind": "new_loan_application",
                                                    "title": "Your new loan application",
                                                    "companyId": "5798835568c0e021ebc6eb44",
                                                    "messages": [
                                                        {
                                                            "senderId": "5798835568c0e021ebc6eb44",
                                                            "type": "CHAT",
                                                            "timestamp": "2019-06-19T12:41:44.382Z",
                                                            "message": "Hello customer!",
                                                            "processed": false
                                                        }
                                                    ],
                                                    "participants": [
                                                        {
                                                            "id": "5798835568c0e021ebc6eb44",
                                                            "name": "ExampleCorp GmbH",
                                                            "type": "COMPANY",
                                                            "joined": true
                                                        },
                                                        {
                                                            "id": "5798835568c0e021ebc6eb47",
                                                            "name": "Jane User",
                                                            "type": "USER",
                                                            "joined": true
                                                        }
                                                    ],
                                                    "presentation": "CONVERSATION",
                                                    "roles": {
                                                        "5798835568c0e021ebc6eb44": "ADMIN",
                                                        "5798835568c0e021ebc6eb47": "VIEWER"
                                                    },
                                                    "defaultAdditionalPermissions": [
                                                        "Messages.CHAT"
                                                    ],
                                                    "additionalPermissions": {
                                                        "5798835568c0e021ebc6eb44": [
                                                            "Messages.UPDATE_TASK_STATE"
                                                        ]
                                                    },
                                                    "allowedSecondAuthFactors": [
                                                        "SMS_TAN"
                                                    ],
                                                    "invitationIsToS": false,
                                                    "forceEmailOnNewParticipant": false,
                                                    "expirationInformation": {
                                                        "expirationText": "Sorry this invitation has expired. You can not access it anymore.",
                                                        "validUntilTaskFinished": "task-ident",
                                                        "validForHours": 2
                                                    },
                                                    "notifiers": [
                                                        {
                                                            "id": "5d0a2d883a867f03b653a0c4",
                                                            "deleted": false,
                                                            "version": 0,
                                                            "localVersion": 0,
                                                            "action": "PUSH_MODULE",
                                                            "taskIdentifiers": [
                                                                "task-ident"
                                                            ],
                                                            "moduleId": "some-module-id",
                                                            "hoursAfterCreation": 1
                                                        }
                                                    ],
                                                    "temporaryTaskResults": {
                                                        "modified": "2019-06-19T12:41:44.382Z",
                                                        "source": "SYSTEM",
                                                        "attributeGroup": "COMPOSED",
                                                        "type": "COMPOSED"
                                                    },
                                                    "creatorNotAdmin": false
                                                }
                                            },
                                            "initialBundles": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "uniqueKind": {
                                                "type": "boolean",
                                                "default": false
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "templateId": {
                                                "type": "string"
                                            },
                                            "locked": {
                                                "type": "boolean",
                                                "default": false
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "When the access token you provided is invalid."
                    }
                }
            }
        },
        "/conversations": {
            "post": {
                "tags": [
                    "Conversations"
                ],
                "summary": "Create a new conversation.",
                "description": "Only very specific fields in the conversation can be initially set. The title is the only mandatory field you have to specify (and it must be between 2 and 200 characters in length).\n- The messages and participants fields can optionally be used to directly add initial messages and participants to a conversation.\n- A participants ID is either a company ID in the fileee system (for `USER` and `COMPANY`) or an email address (for `EXTERNAL` participants).\n- See [the add message documentation](#/Conversations/addMessageToConversation) and [the add participant documentation](#/Conversations/addParticipant) below for details on the messages and participant fields supported.\n- A conversation has a system of roles and permissions controlling what participants can do in the context of this conversation, e.g. if they're   allowed to share documents or to invite other users. Each participant has a role that controls the basic permissions they have. In addition, the conversation also has attributes to give everyone (or just specific participants) some additional permissions on top of those from their role. The following fields control the roles and permissions:\n  - `roles`: A map from participant ID to the role of that participant.\n  - `defaultAdditionalPermissions`: A set of permissions everyone gets in addition to those from their role.\n  - `additionalPermissions`: A map from participant ID to a set of permissions that this specific participant gets in addition to those from their role.\n- For more details about the permission system, see [this document](https://docs.google.com/document/d/1gdL7cIvvIBdlJoVQEF_EAw-XVe_RX60y_HXz2Vwcvwc/edit?usp=sharing)",
                "operationId": "createConversation",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token",
                        "required": true,
                        "example": "Bearer 12345xy...",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "id",
                                        "title"
                                    ],
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "5798835568c0e021ebc6eb3e"
                                        },
                                        "created": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2016-01-28T17:37:11.482+0000",
                                            "readOnly": true
                                        },
                                        "modified": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2016-01-28T17:37:11.482+0000",
                                            "readOnly": true
                                        },
                                        "deleted": {
                                            "type": "boolean",
                                            "example": false,
                                            "default": false
                                        },
                                        "localVersion": {
                                            "type": "integer",
                                            "format": "int64"
                                        },
                                        "externalId": {
                                            "type": "string",
                                            "description": "externalId that might have been provided when creating the conversation",
                                            "readOnly": true
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "B2C",
                                            "readOnly": true,
                                            "enum": [
                                                "HERO",
                                                "SUPPORT",
                                                "B2B",
                                                "B2C",
                                                "C2C",
                                                "UNKNOWN"
                                            ]
                                        },
                                        "kind": {
                                            "type": "string",
                                            "example": "new-product-ordered"
                                        },
                                        "companyId": {
                                            "type": "string",
                                            "example": "5798835568c0e021ebc6eb44",
                                            "description": "ID of an associated company used for branding, colours etc."
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "My Conversation",
                                            "minLength": 2,
                                            "maxLength": 200
                                        },
                                        "readToIndex": {
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "roles": {
                                            "type": "object",
                                            "description": "A map from participant ID to the role of that participant.",
                                            "additionalProperties": {
                                                "type": "string",
                                                "description": "The role of a participant in a fileee conversation/space",
                                                "enum": [
                                                    "VIEWER",
                                                    "EDITOR",
                                                    "ADMIN"
                                                ]
                                            }
                                        },
                                        "defaultRole": {
                                            "type": "string",
                                            "description": "The default role for new participants of this conversation.",
                                            "enum": [
                                                "VIEWER",
                                                "EDITOR",
                                                "ADMIN"
                                            ]
                                        },
                                        "defaultAdditionalPermissions": {
                                            "type": "array",
                                            "description": "A set of permissions everyone gets in addition to those from their role.",
                                            "uniqueItems": true,
                                            "items": {
                                                "type": "string",
                                                "description": "A permission in a fileee conversation/space",
                                                "enum": [
                                                    "Space.DELETE",
                                                    "Space.LEAVE",
                                                    "Space.UPDATE",
                                                    "Space.CREATE_PUBLIC_LINK",
                                                    "Space.INVITE_USERS",
                                                    "Space.REMOVE_USERS",
                                                    "Space.EDIT_PERMISSIONS",
                                                    "Space.NO_PERMISSION_REQUIRED",
                                                    "Messages.UPDATE_TASK_STATE",
                                                    "Messages.AWARD_BONUS_POINTS",
                                                    "Messages.CHAT",
                                                    "Documents.ADD",
                                                    "Documents.EDIT",
                                                    "Documents.REMOVE_OWN",
                                                    "Documents.REMOVE_OTHER",
                                                    "Documents.COMMENT",
                                                    "Documents.COPY_TO_OWN_ACCOUNT",
                                                    "Documents.SEND_TO_OTHER",
                                                    "Documents.DOWNLOAD"
                                                ]
                                            }
                                        },
                                        "additionalPermissions": {
                                            "type": "object",
                                            "description": "A map from participant ID to a set of permissions that this specific participant gets in addition to those from their role.",
                                            "additionalProperties": {
                                                "type": "string",
                                                "description": "A permission in a fileee conversation/space",
                                                "enum": [
                                                    "Space.DELETE",
                                                    "Space.LEAVE",
                                                    "Space.UPDATE",
                                                    "Space.CREATE_PUBLIC_LINK",
                                                    "Space.INVITE_USERS",
                                                    "Space.REMOVE_USERS",
                                                    "Space.EDIT_PERMISSIONS",
                                                    "Space.NO_PERMISSION_REQUIRED",
                                                    "Messages.UPDATE_TASK_STATE",
                                                    "Messages.AWARD_BONUS_POINTS",
                                                    "Messages.CHAT",
                                                    "Documents.ADD",
                                                    "Documents.EDIT",
                                                    "Documents.REMOVE_OWN",
                                                    "Documents.REMOVE_OTHER",
                                                    "Documents.COMMENT",
                                                    "Documents.COPY_TO_OWN_ACCOUNT",
                                                    "Documents.SEND_TO_OTHER",
                                                    "Documents.DOWNLOAD"
                                                ]
                                            }
                                        },
                                        "messages": {
                                            "type": "array",
                                            "description": "List of messages in the conversation",
                                            "items": {
                                                "type": "object",
                                                "required": [
                                                    "type"
                                                ],
                                                "discriminator": {
                                                    "propertyName": "type"
                                                },
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "5798835568c0e021ebc6eb47"
                                                    },
                                                    "senderId": {
                                                        "type": "string",
                                                        "example": "5798835568c0e021ebc6eb48"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "example": "CHAT",
                                                        "enum": [
                                                            "DOCUMENT",
                                                            "CHAT",
                                                            "BONUS",
                                                            "USER_INFO",
                                                            "STATUS",
                                                            "META_INFORMATION",
                                                            "VOICE",
                                                            "RATING",
                                                            "REQUEST_DOCUMENTS",
                                                            "CONTACT_INFORMATION",
                                                            "CHANGE_IDENTIFIERS",
                                                            "REQUEST_ACTION",
                                                            "ACTION_RESULT",
                                                            "PARTICIPANT_STATE",
                                                            "INFO",
                                                            "PLACEHOLDER",
                                                            "NOTIFICATION",
                                                            "UNKNOWN"
                                                        ]
                                                    },
                                                    "timestamp": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2016-01-28T18:14:55.600+0000"
                                                    },
                                                    "message": {
                                                        "type": "string",
                                                        "example": "Hello there"
                                                    },
                                                    "onlyVisibleFor": {
                                                        "type": "array",
                                                        "uniqueItems": true,
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "participants": {
                                            "type": "array",
                                            "description": "List of participants in the conversation",
                                            "readOnly": true,
                                            "items": {
                                                "type": "object",
                                                "required": [
                                                    "id",
                                                    "name",
                                                    "type"
                                                ],
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "5798835568c0e021ebc6eb48"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Tobias Meier"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "example": "USER",
                                                        "enum": [
                                                            "USER",
                                                            "COMPANY",
                                                            "EXTERNAL",
                                                            "CUSTOMER",
                                                            "OTHER"
                                                        ]
                                                    },
                                                    "kind": {
                                                        "type": "string",
                                                        "example": "customer",
                                                        "description": "Variable to distinguish between different kinds of participants, defined by company"
                                                    },
                                                    "phoneNumber": {
                                                        "type": "string",
                                                        "example": "+491738231242",
                                                        "description": "Optional telephone number for external participants."
                                                    },
                                                    "joined": {
                                                        "type": "boolean",
                                                        "description": "True if the participant has accepted any terms and/or the invitation to join this conversation.",
                                                        "readOnly": true,
                                                        "default": false
                                                    },
                                                    "externalId": {
                                                        "type": "string",
                                                        "example": "foo.bar@example.com",
                                                        "description": "The original email address of a participant that was converted from type EXTERNAL to USER",
                                                        "readOnly": true
                                                    },
                                                    "attributes": {
                                                        "type": "object",
                                                        "description": "A map of custom attributes or properties that are associated with this participant.",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "formerParticipants": {
                                            "type": "array",
                                            "readOnly": true,
                                            "items": {
                                                "type": "object",
                                                "required": [
                                                    "id",
                                                    "name",
                                                    "type"
                                                ],
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "5798835568c0e021ebc6eb48"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Tobias Meier"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "example": "USER",
                                                        "enum": [
                                                            "USER",
                                                            "COMPANY",
                                                            "EXTERNAL",
                                                            "CUSTOMER",
                                                            "OTHER"
                                                        ]
                                                    },
                                                    "kind": {
                                                        "type": "string",
                                                        "example": "customer",
                                                        "description": "Variable to distinguish between different kinds of participants, defined by company"
                                                    },
                                                    "phoneNumber": {
                                                        "type": "string",
                                                        "example": "+491738231242",
                                                        "description": "Optional telephone number for external participants."
                                                    },
                                                    "joined": {
                                                        "type": "boolean",
                                                        "description": "True if the participant has accepted any terms and/or the invitation to join this conversation.",
                                                        "readOnly": true,
                                                        "default": false
                                                    },
                                                    "externalId": {
                                                        "type": "string",
                                                        "example": "foo.bar@example.com",
                                                        "description": "The original email address of a participant that was converted from type EXTERNAL to USER",
                                                        "readOnly": true
                                                    },
                                                    "attributes": {
                                                        "type": "object",
                                                        "description": "A map of custom attributes or properties that are associated with this participant.",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "ownerId": {
                                            "type": "string"
                                        },
                                        "muted": {
                                            "type": "boolean",
                                            "default": false
                                        },
                                        "invitation": {
                                            "type": "boolean",
                                            "readOnly": true,
                                            "default": false
                                        },
                                        "token": {
                                            "type": "string",
                                            "readOnly": true
                                        },
                                        "presentation": {
                                            "type": "string",
                                            "description": "Should the conversation be presented as a conversation (message-centric) or a shared space (document-centric)?",
                                            "enum": [
                                                "CONVERSATION",
                                                "FILEEE_SPACE"
                                            ]
                                        },
                                        "invitationIsToS": {
                                            "type": "boolean",
                                            "description": "Should the invitation contain Terms of Service to be accepted, should be set to true.",
                                            "default": false
                                        },
                                        "invitationText": {
                                            "type": "string",
                                            "description": "Custom invitation-text to be displayed. May be used for Terms of Service."
                                        },
                                        "allowedSecondAuthFactors": {
                                            "type": "array",
                                            "description": "A list of all allowed second authentication factors for this conversation.",
                                            "items": {
                                                "type": "string",
                                                "enum": [
                                                    "SMS_TAN",
                                                    "NONE"
                                                ]
                                            }
                                        },
                                        "forceEmailOnNewParticipant": {
                                            "type": "boolean",
                                            "description": "If true, invitation mail will always be send when participants are added directly to the conversation (without inviting them).",
                                            "readOnly": true,
                                            "default": false
                                        },
                                        "invitationLinks": {
                                            "type": "array",
                                            "description": "sharing properties of the conversation",
                                            "readOnly": true,
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "token": {
                                                        "type": "string",
                                                        "description": "Token can be used to join a conversation"
                                                    },
                                                    "role": {
                                                        "type": "string"
                                                    },
                                                    "qrCode": {
                                                        "type": "string",
                                                        "description": "Base64 encoded png with a QRCode that allows joining a conversation. Is only included if the respective Query Parameter is used."
                                                    }
                                                }
                                            }
                                        },
                                        "expirationInformation": {
                                            "description": "Settings for expiration of invitations / conversations.",
                                            "type": "object",
                                            "properties": {
                                                "expirationText": {
                                                    "type": "string",
                                                    "description": "Custom text which will be shown to the user, if a invitation in his/her account has expired."
                                                },
                                                "validUntilTaskFinished": {
                                                    "type": "string",
                                                    "description": "Identifier of a task. Conversation will be valid until this task is finished."
                                                },
                                                "validUntil": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "description": "Date until which the conversation is valid."
[...]
